<div ng-controller="CadastroPessoaController">
    <crud titulo="Cadastro de Pessoa"
          acao-salvar="salvar()"
          acao-limpar="limpar()"
          acao-excluir="excluir()">
        <div class="row">
            <text-input label="Nome" colspan="3"></text-input>
            <text-input label="Sobrenome" colspan="3"></text-input>
            <select-input label="Genero" values="generos" colspan="3"></select-input>
            <date-input label="Data de Nascimento" colspan="3" format="dd/mm/yyyy"></date-input>
        </div>
    </crud>
</div>
