@media screen and (max-width: 768px) {
    .container {
        background-color: #00b3ee;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .container {
        background-color: #67b168;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .container {
        background-color: #f8efc0;
    }
}
@media screen and (min-width: 1201px) {
    .container {
        background-color: #d43f3a;
    }
}